/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

 [class *= 'span'] {
   text-align: center;
 }

 #voting-buttons button {
   margin: 0.5cm;
 }


 img {
   margin: 0.5cm;
 }

 #panel-container > div {
   display: none;
 }

 #result-container {
   margin: 0.5cm 0cm;
 }

 #source-link {
   position: absolute;
   left: 0.3cm;
   top: 0.3cm;

   margin: 0.7cm;

   color: gray;

   font-size: 0.5cm;
 }


 #login-box {
   position: absolute;
   top: 0.5cm;
   right: 0.5cm;

   text-align: center;
 }

 #login-box > * {
   display: none;
 }

 #login-box > div {
   border:  solid gray 1px;
   padding: 0.7em;
 }



