%center
 %img{:src => 'mona_lisa.jpg'}

#panel-container
 #panel-loading{:style => 'display:block'}
  %center
   %h1 Loading, please wait...
 
 #panel-vote
  %center
   %h2 Vote for the painting
  %center
   #voting-buttons

 #panel-results
  %center
   %h1 Results
  #result-container
  %center
   %button#button-vote-again.btn.btn-primary Vote again
