%a#source-link{:href => 'https://github.com/Makarevich/rails-test', :title => 'View the site\'s sources at github.com'}
 View sources

#login-box
 %a.btn.btn-primary{:href => login_url, :style => 'display:block'} Login via Facebook
 %div
  %p
   Hello,
   %span#username
   \!
  %p
   %a.btn{:href => logout_url} Logout
 

%center
 %img{:src => 'mona_lisa.jpg'}

#panel-container

 #panel-loading{:style => 'display:block'}
  %center
   %h1 Loading, please wait...
 
 #panel-processing
  %center
   %h1 Processing, please wait...
 
 #panel-need-auth
  %center
   %h1 Authentication needed
   %p
    To rate the painting you have to
    %a{:href => login_url} authenticate via facebook.

 #panel-vote
  %center
   %h2 Rate the painting
  %center
   #voting-buttons

 #panel-results
  %center
   %h1 Results
  #result-container
  %center
   %button#button-vote-again.btn.btn-primary Vote again
